/*body
{
background-color: lightgray;

width: 1000px;
height: 1840px;	
}*/

html { font-size: 62.5%; }

body {
  background-color:lightgray;
  margin: 0;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  /*width: 1000px;*/
  height: 1840px;	

}



header h1 
{
	font-size: 52px;
	text-align: center;
	font-weight: bold;	
}
header h3
{
	text-align: center;
}
nav#mainMenu
{
	/*margin-left: 150px;*/
	text-align: left;
	color:black;
	background-color: black;
	font-family: sans-serif;
	
}
nav#secondaryMenu
{
	text-align: left;
	font-size: 1.1em;
	color:black;
	font-family: sans-serif;
}

a
{
	text-decoration: none;
}
a:hover
{
	color:gray;
}
a:visited
{
	
	text-decoration: none;
}
a:active
{
	color:yellow;
}

nav
{
	
	border-color: black;
	border-top: solid 1px;
	border-bottom: solid 1px;
	color:black;	

}
nav ul li
{
	list-style: none;
	display: inline;
	padding: 12px;
	font-color:black;

}
footer 
{
 border-top: groove;
 margin: 1em;
 text-align: left;

}
footer p 
{
	color:gray;
	padding: 12px;
}

#part1 {
	height: 548px;

}

section#part1
{
	padding: 2em 0.5em;
	

}
div.right1
{
	width: 700px;
	height: 320px;

}
div.left1
{
	width: 500px;
	height: 320px;

}

div.left1 img
{
	width: 500px;
	height: 320px;
}
div.right1 img
{
	width: 100px;
	height: 100px;
}
#gg {
	border: solid 2px #333333;
}
#part2
{
	border-color: black;
	border-top: solid 1px;
	border-bottom: solid 1px;
	color:black;	
}
div.left2
{
	width:650px; 
	height:721px;

}
div.left2 img
{
	width: 60px;
	height: 60px;
}
div.right2
{
	width: 350px;
	height:721px;


}
div.right2 img
{
	width: 160px;
	height:604px;
}

#img1
{
	width:122px;
	height: 80px;
	padding:0 0.5em 0 0.5em;
}
#p1
{
	color:red;
	text-align: center;
}
#p
{
	text-align: center;

}