html { font-size: 62.5%; }

body {
  margin: 0;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  /*width: 1000px;*/
 height: 1840px;	

}

body a{
	text-decoration: none;
}

header h1 
{
	font-size: 80px;
	text-align: center;
	font-weight: bold;	
	font-family: italic;
	margin: 30px 90px 30px 90px;
	color:black;
}
header h3
{
	text-align: center;
	color:gray;
	font-family: italic;
}
nav#mainMenu
{
	/*margin-left: 150px;*/
	text-align: left;
	color:black;
	background-color: black;
	font-family: sans-serif;
	
}
#nowButton
{
background-color: black;
      color: white;
      
      border-radius: 10px;
}
#song{
	width: 210px;
	height: 320px;
	background-color:rgb(162,147,215);
	margin:80px;
	padding:3px;
	color:black;
	float:left;

}
.image{
	width:100%;
}


body
{
	margin 0;
	padding 0;
	background-color: #ccc !important;
	color: #fff !important;
}
div.pj1 img
{
	width:250px;
	height:200px;

}
#f1{
	border:solid 2px #33333;
	width:50;
	height: 30px: 
	color:black;
}
#p
{
	color:black;
}


