body {
  background-color:lightgray;
  margin: 0;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  /*width: 1000px;*/
 height: 1840px;	

}



header h1 
{
	font-size: 80px;
	text-align: center;
	font-weight: bold;	
	font-family: italic;
	margin: 30px 90px 30px 90px;
}
header h3
{
	text-align: center;
	color:gray;
	font-family: italic;
	font-size: 30px;
}
nav#mainMenu
{
	/*margin-left: 150px;*/
	text-align: left;
	color:black;
	background-color: black;
	font-family: sans-serif;
	
}
nav#secondaryMenu
{
	text-align: left;
	font-size: 1.1em;
	color:black;
	font-family: sans-serif;
}
nav#secondaryMenu a
{
	color:black;
}
nav#secondaryMenu a:hover
{
	color:gray;
}
a
{
	text-decoration: none;
	color:white;
}
a:hover
{
	color:gray;
}
a:visited
{
	
	text-decoration: none;

}
a:active
{
	color:yellow;
}

nav
{
	
	
	border-top: groove 1px;
	border-bottom: groove 1px;
	color:black;	

}
nav ul li
{
	list-style: none;
	display: inline;
	padding: 12px;
	font-color:black;

}
section 
{
 padding:5em;
}
.grad
{
	background-image:linear-gradient( to bottom, #F7CBF6,white);
}
#nowButton
{
background-color: black;
      color: white;
      
      border-radius: 10px;
}
#ph
{
	width: 380px;
	height:350px;
}
td
{
 text-align: center;
 font-family:italic;
}
.mulcol
{
	margin:10px;
	 -webkit-column-count: 3;
  -webkit-column-gap: 40px;
  -webkit-column-rule-style: solid;
  -webkit-column-rule-width: 1px;

  
  -moz-column-count: 3;
  -moz-column-gap: 40px;
  -moz-column-rule-style: solid;
  -moz-column-rule-width: 1px;
  

  column-count: 3;
  column-gap: 40px;
  column-rule-style: solid;
  column-rule-width: 1px;
}

  div#img1
  {
  	-ms-transform: skewY(20deg); 
  -webkit-transform: skewY(20deg); 
  transform: skewY(20deg); 
  }
  div#img2
  {
  	 -ms-transform: scale(1,1); 
  -webkit-transform: scale(1,1); 
  transform: scale(1,1.5);
  }
  div#img3
  {
  	-webkit-translate: width 200px;
			translate: width 200px
		}
	button
	{
		background-color: black;
		color:white;
		border-radius: 5px;
		padding: 8px;
	}
	figcaption
	{
		font-weight: bold;
		padding:5px;
	}