body {
	background-color : rgb(255,250,250);
	margin-left:250px;
	margin-right: 250px;


}
.content
{
	font-family: medium-content-sans-serif-font, 
	"Lucida Grande", "Lucida Sans Unicode", 
	"Lucida Sans", Geneva, Arial,
	 sans-serif;
}

}
.button{
  border-radius: 50px;
  background: none;
  border: 2px solid #212121;
  color: #202020;
  padding: 18px 35px;
  text-align: center;
  text-decoration: none;
  font-size:18px;
  display: inline-block;
  margin-top: 50px;
  margin-left: 100px;
  cursor: pointer;
 /* transition: .3s;*/
  width: 180px;
}
header h1 
{
	font-size: 80px;
	text-align: center;
	font-weight: bold;	
	font-family: italic;
	margin: 30px 90px 30px 90px;
}
header h3
{
	text-align: center;
	color:gray;
	font-family: italic;
}
nav#mainMenu
{
	/*margin-left: 150px;*/
	text-align: left;
	color:black;
	background-color: black;
	font-family: sans-serif;
	
}
nav#secondaryMenu
{
	text-align: left;
	font-size: 1.1em;
	color:black;
	font-family: sans-serif;
}
nav#secondaryMenu a
{
	color:black;
}
nav#secondaryMenu a:hover
{
	color:gray;
}
a
{
	text-decoration: none;
	color:white;
}
a:hover
{
	color:gray;
}
a:visited
{
	
	text-decoration: none;

}
a:active
{
	color:yellow;
}

nav
{
	
	
	border-top: groove 1px;
	border-bottom: groove 1px;
	color:black;	

}
nav ul li
{
	list-style: none;
	display: inline;
	padding: 12px;
	font-color:black;

}
footer 
{
 border-top: groove;
 margin: 1em;
 text-align: left;
```
}
footer p 
{
	color:gray;
	padding: 12px;
}
.slideshow-container
{
 
* {box-sizing: border-box;}

.container {
  position: relative;
  width: 50%;
  max-width: 300px;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  margin-right: 100px;
}

.container:hover .overlay {
  opacity: 1;
}
.mag 
{

background-color: lightgrey;
  width: 900px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
 flex-direction: column;
}
