* {
  box-sizing: border-box;
}
body {
	background-color : rgb(255,250,250);
	margin-left:250px;
	margin-right: 250px;
	min-height: 100v

}
.content
{
	font-family: medium-content-sans-serif-font, 
	"Lucida Grande", "Lucida Sans Unicode", 
	"Lucida Sans", Geneva, Arial,
	 sans-serif;
}
.button{
  border-radius: 50px;
  background: none;
  border: 2px solid #212121;
  color: #212121;
  padding: 18px 35px;
  text-align: center;
  text-decoration: none;
  font-size:18px;
  display: inline-block;
  margin-top: 50px;
  margin-left: 100px;
  cursor: pointer;
  width: 180px;
}
header h1 
{
	font-size: 80px;
	text-align: center;
	font-weight: bold;	
	font-family: italic;
	margin: 30px 90px 30px 90px;
}
header h3
{
	text-align: center;
	color:gray;
	font-family: italic;
}
nav#mainMenu
{
	/*margin-left: 150px;*/
	text-align: left;
	color:black;
	background-color: black;
	font-family: sans-serif;
	
}
nav#secondaryMenu
{
	text-align: left;
	font-size: 1.1em;
	color:black;
	font-family: sans-serif;
}
nav#secondaryMenu a
{
	color:black;
}
nav#secondaryMenu a:hover
{
	color:gray;
}
a
{
	text-decoration: none;
	color:white;
}
a:hover
{
	color:gray;
}
a:visited
{
	
	text-decoration: none;

}
a:active
{
	color:yellow;
}

nav
{
	
	
	border-top: groove 1px;
	border-bottom: groove 1px;
	color:black;	

}
nav ul li
{
	list-style: none;
	display: inline;
	padding: 12px;
	color:black;

}
footer 
{
 border-top: groove;
 margin: 1em;
 text-align: left;
}
footer p 
{
	color:gray;
	padding: 12px;
}


.container {
  position: relative;
  width: 50%;
  max-width: 300px;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  margin-right: 100px;
}

.container:hover .overlay {
  opacity: 1;
}
#myForm {
	padding-top:5%;
	text-align: center;
	bottom:0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	color:white;
	position: fixed;
	top:0;
	left: 0;
}
#nowButton {
	margin-right: 5px;
	margin-top:-5px;
	background-color: white;
	border: 1px solid black;
	padding: 5px 10px;
}
#nowButton:hover {
	cursor: pointer;
}
.open-button {
	background-color: white;
	border: 1px solid black;
	padding: 10px 20px;
}
.open-button:hover {
	cursor: pointer;
}
.loginBtn {
	text-align: center;
}
.paragraph
{
	border:dotted;
	border-width: 7px;
	border-color: black ;
	width :200px;
	height:200px;
	float: center ;
	margin-left: 100px;
	display: inline-block;
	margin-top: 100px;
}
.dotted-content
{
	background-color:#adad9a ;
	margin-top: 50px;
	padding-bottom: 70px;

}
	
video
 {
  width: 500px;
  height: 450px;
  float: right;
  
}


.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.container img {vertical-align: middle;}

.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
.solid-paragraph
{
	border:solid;
	border-width:5px;
	width:400px;
	height: 450px;
	border-color:black;
	float:left;
	display: inline-block;
	border-radius:15px;
	margin-bottom: 100px;
}
	
.content1
{
margin-top: 100px;
font-family: 
}
