body
{
background-color: lightgray;	
}
header h1 
{
	font-size: 52px;
	text-align: center;
	font-weight: bold;	
}
header h3
{
	text-align: center;
}
nav#mainMenu
{
	
	text-align: left;
	color:black;
	background-color: black;
	font-family: sans-serif;
	
}
nav#secondaryMenu
{
	text-align: left;
	font-size: 1.1em;
	color:black;
	font-family: sans-serif;
}

a
{
	text-decoration: none;
}
a:hover
{
	color:gray;
}
a:visited
{
	
	text-decoration: none;
}
a:active
{
	color:yellow;
}

nav
{
	
	border-color: black;
	border-top: solid 1px;
	border-bottom: solid 1px;
	color:black;	

}
nav ul li
{
	list-style: none;
	display: inline;
	padding: 12px;
	font-color:black;

}
footer 
{
 border-top: groove;
 margin: 1em;
 text-align: left;

}
footer p 
{
	color:gray;
	padding: 12px;
}
section#part1
{
	padding: 2em 0.5em;
	

}
div.right1
{
	width: 700px;
	height: 320px;

}
div.left1
{
	width: 500px;
	height: 320px;

}

div.left1 img
{
	width: 500px;
	height: 320px;
}
div.right1 img
{
	width: 100px;
	height: 100px;
}